* {
    box-sizing: border-box;
    font-family: "Tahoma", Geneva, sans-serif;
}

#head {
    padding: 15px;
	align: center;
	text-align: center;
}

body {
    background: url("bg.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input:focus, textarea:focus{
	border-color: #D02930;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #DB000A;
}

#login {
    border-radius: 5px;
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
	margin: 50px 30% 0px 30%;
}

#box {
    border: 2px solid gray;
	resize: none;
}

#box:focus{
    outline:none;
    border-color: #D02930;
}

#bglayer {
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 200px 0px 200px;
}

#jobview {
    border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 200px 0px 200px;
    text-align: center;
}

#link {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#linkcomp {
    width: 15%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#linkcompadmin {
    width: 15%;
    background-color: #00ACE6;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.logo {
    float: left;
}

.nice-table {
	width:100%;
	border:2px solid #000000;
	border-radius: 5px;
}

.nice-table table{
    border-collapse: collapse;
	width:100%;
	height:100%;
}

.nice-table tr:last-child td:last-child {
	border-bottom-right-radius:5px;
}

.nice-table table tr:first-child td:first-child {
	border-top-left-radius:5px;
}

.nice-table table tr:first-child td:last-child {
	border-top-right-radius:5px;
}

.nice-table tr:last-child td:first-child{
	border-bottom-left-radius:5px;
}

.nice-table tr:nth-child(odd){ background-color:#d5d5d5;}

.nice-table tr:nth-child(even){ background-color:#f2f2f2;}

.nice-table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
}

.nice-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.nice-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.nice-table th{
	background:linear-gradient(#d02930, #db000a);	
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	padding: 6px;
    color: white;
}

.nice-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.nice-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}