* {
    box-sizing: border-box;
    font-family: "Tahoma", Geneva, sans-serif;
}

#head {
    padding: 15px;
	align: center;
	text-align: center;
}

body {
    background: url("bg.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

input:focus, textarea:focus{
	border-color: #D02930;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #DB000A;
}

#login {
    border-radius: 5px;
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
	margin: 50px 30% 0px 30%;
}

#box {
    border: 2px solid gray;
	resize: none;
}

#box:focus{
    outline:none;
    border-color: #D02930;
}

#bglayer {
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 200px 0px 200px;
}

#jobview {
    border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 200px 0px 200px;
    text-align: center;
}

#link {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.logo {
    float: left;
}

table.db-table {
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
	width: 100%;
}

table.db-table th
{
    background:#eee;
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc; 
}

table.db-table td {
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
}