* {
    box-sizing: border-box;
    font-family: "Tahoma", Geneva, sans-serif;
}

body {
    background: url("bg.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

fieldset.group { 
  margin: 0; 
  padding: 0; 
  margin-bottom: 1.25em; 
  padding: .125em; 
}
fieldset.group legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 20px; 
  font-size: 100%; 
  color: black; 
}

input:focus, textarea:focus{
	border-color: #D02930;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px #999;
}

input[type=submit]:hover {
    background-color: #DD555B;
}

input[type=submit]:active {
  background-color: #DD555B;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#login {
    border-radius: 5px;
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
	margin: 50px 25% 0px 25%;
}

#box {
    border: 2px solid gray;
	resize: none;
}

#box:focus{
    outline:none;
    border-color: #D02930;
}

#bglayer {
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    padding: 40px;
    border-radius: 5px;
    margin: 20px 200px 0px 200px;
}

#notification {
	border: 2px solid #ffe493;
    background-color: #F2F2F2;
    border-radius: 5px;
	padding: 20px;
	width: 50%;
	margin:0 auto;
	opacity: 1;
	transition: opacity 1s;
}

#notification.fade {
	opacity: 0;
}

#link {
    width: 20%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    box-shadow: 0 3px #999;
}

#link:hover {
  background: #DD555B;
}

#link:active {
  background-color: #DD555B;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#linkcomp {
    width: 15%;
    background-color: #D02930;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    box-shadow: 0 3px #999;
}

#linkcomp:hover {
  background: #DD555B;
}

#linkcomp:active {
  background-color: #DD555B;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#linkcompadmin {
    width: 15%;
    background-color: #00ACE6;
    color: white;
    padding: 14px 20px;
    margin: 20px 15px 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    box-shadow: 0 3px #999;
}

#linkcompadmin:hover {
  background: #1AC6FF;
}

#linkcompadmin:active {
  background-color: #1AC6FF;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.nice-table {
	width:100%;
	border:2px solid #000000;
	border-radius: 5px;
}

.nice-table table{
    border-collapse: collapse;
	width:100%;
	height:100%;
}

.nice-table tr:last-child td:last-child {
	border-bottom-right-radius:5px;
}

.nice-table table tr:first-child td:first-child {
	border-top-left-radius:5px;
}

.nice-table table tr:first-child td:last-child {
	border-top-right-radius:5px;
}

.nice-table tr:last-child td:first-child{
	border-bottom-left-radius:5px;
}

.nice-table tr:nth-child(odd){ background-color:#d5d5d5;}

.nice-table tr:nth-child(even){ background-color:#f2f2f2;}

.nice-table td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
}

.nice-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.nice-table th{
	background:linear-gradient(#d02930, #db000a);	
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	padding: 6px;
    color: white;
}

.nice-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.nice-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.vert-table {
	border:2px solid #000000;
	border-collapse: collapse;
	width:100%;
	height:100%;
	border-radius: 5px;
}

.vert-table tr:nth-child(odd){ background-color:#d5d5d5;}

.vert-table tr:nth-child(even){ background-color:#f2f2f2;}

.vert-table td{
	vertical-align:middle;
	border:1px solid #000000;
	text-align:left;
	padding:12px;
}

.vert-table th{
	background:linear-gradient(#d02930, #db000a);	
	border:0px solid #000000;
	border-width:0px 2px 1px 0px;
	text-align:center;
	padding: 6px;
    color: white;
}

img.logo {
	display: inline-block;
	width: 300px;
	margin: 10px 0px 10px 50px;
}

img.logo:hover {
    -webkit-filter: drop-shadow(0px 5px 10px #666);
    filter:         drop-shadow(0px 5px 10px #666); 
}